Source: qt4-qspr
Priority: optional
Maintainer: Roman Chistokhodov <freeslave93@gmail.com>
Build-Depends: debhelper (>= 9), qt4-qmake (>= 4.6.0), libqt4-dev (>= 4.6.0)
Standards-Version: 3.9.5
Section: libs
Homepage: https://bitbucket.org/FreeSlave/qt-sprite-image-plugin

Package: qt4-qspr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt4 image format plugin 
 for Half-Life and Quake sprites
