Source: qt5-qspr
Priority: optional
Maintainer: Roman Chistokhodov <freeslave93@gmail.com>
Build-Depends: debhelper (>= 9), qt5-qmake (>= 5.0.0), qtbase5-dev (>= 5.0.0)
Standards-Version: 3.9.5
Section: libs
Homepage: https://bitbucket.org/FreeSlave/qt-sprite-image-plugin

Package: qt5-qspr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt image plugin for
 Half-Life and Quake sprites
